{% import 'macros.html' as macro%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to Daily News where you get updated with current affairs </title>
        {% endif %}
    </head>
    <body>
        <h3> Popolar News sites around the globe</h3>
        
        <ul>
            {{ macro.displaySourceList(business_sources.id)}}
        </ul>
        
       
        {% endfor %}

        
      <h3> Entertainment News </h3>
      <ul>
         {% for entertainment_source in entertainment %}
             <li>{{ entertainment_source.id}}</li>
         {% endfor %}
     </ul>

      </body>
</html>