<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to Daily News where you get updated with current affairs </title>
        {% endif %}
    </head>
    <body>
        <h3> Popolar News sites around the globe</h3>
        <ul>
          {% for business_source in business_sources %}
          <h4><a href="{{business_source.url}}">
            <p class="card-text">{{business_source.id}}</p>
        </a></h4>
        <p>{{business_source.description}}</p>
  
          {% endfor %}

        
      <h3> Entertainment News </h3>
      <ul>
         {% for entertainment_source in entertainment %}
             <li>{{ entertainment_source.id}}</li>
         {% endfor %}
     </ul>
     <!-- Now showing movie -->
     <!-- <h3>Top Highlights</h3>
      <ul>
         {% for now_showing_movie in now_showing %}
             <li>{{ general_sources.title}}</li>
         {% endfor %}
     </ul> --> -->


      </body>
</html>